<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <script type="text/javascript">
   var user='{{request.user}}'
   function getToken(name){
     var cookieValue=null;
     if(document.cookie&&document.cookie!==''){
       var cookies=document.cookie.split(';')
       for(var i=0;i<cookies.length;i++){
         var cookie=cookies[i].trim();
         if(cookie.substring(0,name.length+1)==(name+'=')){
           cookieValue=decodeURIComponent(cookie.substring(name.length+1));
           break;
         }
       }
     }
     return cookieValue;
   }
   var csrftoken=getToken('csrftoken');
   </script>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
<nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light">
          
            <a class="navbar-brand" href="/home" id="bookish">
                 Bookish
            </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div class="navbar-nav">
     
        <a class="nav item nav-link" href="/home"style="padding-left: 20px; padding-right: 20px;">Home </a>
     {% if user.is_authenticated %}
     <a class="nav item nav-link" href="/books" style="padding-left: 20px; padding-right: 20px;">Explore</a>
     <a class="nav item nav-link" href="/sell"style="padding-left: 20px; padding-right: 20px; ">Sell</a>
     <a class="nav item nav-link" href="/cart"style="padding-left: 20px; padding-right: 20px;">cart({{cartItems}})</a>
     

     <a class="nav item nav-link" href="/logout"style="padding-left: 20px; padding-right: 20px;">Log out</a>
     {% endif %}
     {% if not user.is_authenticated %}
     <a class="nav item nav-link" href="/signup"style="padding-left: 20px; padding-right: 20px;">SignUp</a>
     <a class="nav item nav-link" href="/login"style="padding-left: 20px; padding-right: 20px;">Log In</a>
     {% endif %}
        
 

      <a class="nav item nav-link" href="/about"  >About Us</a>

    </div>
  </div>
</nav>
{% if messages %}
{%for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}<strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    $('.alert').alert()
  });
   
</script>
{% endfor %}
{% endif %}
  {% block body  %}{% endblock body %}
 
   <footer>
                <div class="container" >
                    Copyright <span class="glyphicon glyphicon-copyright-mark"></span> Bookish Stores.
                    All Rights Reserved | Contact Us: +91 90000 00000
                </div>
    </footer>   
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <script type="text/javascript" src="{%static 'js/cart.js'%}"></script>
   
  </body>
</html>