{% extends 'base.html' %}
{% block title %}Product Cart{% endblock title %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element" style="box-shadow: hsl(0,0%,80%) 0 0 16px;">
            <a class="btn btn-outline-dark" href="{%url 'books'%}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items :<strong>{{order.get_cart_item}}</strong></h5></th>
                    <th><h5>Total :<strong>Rs.{{ order.get_cart_total|floatformat:2}}/-</strong></h5></th>
                    <th>
                        <a href="{% url 'checkout' %}" class="btn btn-success" style="float: right; margin: 5px;">&#8594;Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <div class="box-element" style="box-shadow: hsl(0,0%,80%) 0 0 16px;">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>              
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-img" src="{{item.product.image}}"  width="40px" ></div>
                <div style="flex:2">{{item.product.title}}</div>
                <div style="flex:1">Rs.{{item.product.price|floatformat:2}}/-</div>
                <div style="flex:1">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'img/up.png'%}" alt="" class="chg-quantity">
                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'img/down.png'%}" alt="" class="chg-quantity">
                    </div>

                </div>
                <div style="flex:1; color:green;">Rs.{{item.get_total}}/</div>
            
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}